<div class="container">
    <!-- Header -->
    <div class="header">
        <h1>Category Management</h1>
        <p>Add new Categories</p>
    </div>

    <div class="main-content">
        <!-- Customer Addition Form -->
        <div class="customer-form-section">
            <h2 class="form-title">Add New Category</h2>
            <form id="customerForm">
                <div class="form-group">
                    <label class="form-label" for="customerName">Customer Name *</label>
                    <input type="text" id="customerName" name="customerName" class="form-input" [(ngModel)]="categoryName" placeholder="Enter customer name" required>
                </div>

                <div class="form-group">
                    <label class="form-label" for="customerName">Description *</label>
                    <input type="text" id="customerName" name="customerName" class="form-input"   [(ngModel)]="categoryDescription"  placeholder="Enter customer name" required>
                </div>


              

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="validateCategory()">Save</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                </div>
            </form>
        </div>

        <!-- Customer List -->
        <div  style="max-height: 50%;">
            <h2 class="form-title">Category List</h2>
            
            <div class="search-container">
                <input type="text" id="searchCustomer" class="search-input" placeholder="Search customers...">
            </div>
            <app-tableview [tableData]="categoryData" [columnHeaders]="ColumnHeaders" [displayedColumns]="displayedColumns" style="max-height: 50%;"></app-tableview>
           
        </div>
    </div>
</div>
