<div class="ord"><mat-paginator [pageSize]="10" [pageSizeOptions]="[50, 100, 1000]" showFirstLastButtons>
  </mat-paginator>
  <div class="table-container" style="overflow-y: auto; max-height: 80vh;">

    <table mat-table [dataSource]="dataSource" class="elite-table" style="">
      <!-- SELECT CHECKBOX -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- EAN Code -->
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #007bff;color: white !important;">OrderId</th>
        <td mat-cell *matCellDef="let element">
          {{ element.orderId }}
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="customerName" >
        <th mat-header-cell *matHeaderCellDef  style="background-color: #007bff;color: white !important;">Name - Id</th>
        <td mat-cell *matCellDef="let element">
          <div class="cust" *ngIf="element?.customerId>0">{{ element.customer }} - {{ element.customerId }}</div>
          <div class="cust" *ngIf="element?.customerId?.length<1">{{ element.customer }} </div>
        </td>
      </ng-container>

      <!-- Category -->
      <ng-container matColumnDef="orderDate"  style="background-color: #007bff;color: white;">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #007bff;color: white !important;">Date - Time</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.date | date:'dd MMM yyyy - HH:mm' }}
        </td>
      </ng-container>

      <!-- Sell Type -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #007bff;color: white !important;">Status</th>
        <td mat-cell *matCellDef="let element"    [ngClass]="getStatusClass(element.status)">
          {{ element.status }}
        </td>
      </ng-container>

      <!-- Quantity -->
      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef  style="background-color: #007bff;color: white !important;">Total Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount }}
        </td>
      </ng-container>


      <!-- ACTION -->
      <ng-container matColumnDef="action" sticky>
        <th mat-header-cell *matHeaderCellDef style="background-color: #007bff;color: white !important;">Action</th>
        <td mat-cell *matCellDef="let element" style="padding: 10px;gap: 10px;background-color: #bbc9d850;">


          <img src="../../assets/Pick hover.svg" height="20px" width="20px"  alt="visibility" style="cursor: pointer; margin: 0px 5px;"
            (click)="openSidebar=true;selectedOrder=element"  *ngIf="element?.status === 'pending'"/>
            <img src="../../assets/Reject hover.svg" height="20px" width="20px" alt="delete" style="cursor: pointer; margin: 0px 5px;"
            (click)="onRejectOrder();selectedOrder=element" />
<!-- <img src="../../assets/Pin hover.svg" height="20px" width="20px" alt="delete" style="cursor: pointer; margin: 0px 5px;"
            /> -->
        </td>
      </ng-container>

      <!-- ROWS -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


  </div>


  <!-- SIDE PANEL -->
  <div class="overlay" *ngIf="openSidebar" (click)="closeSidebar()">
  </div>
  <div class="side-panel" *ngIf="openSidebar">

    <!-- HEADER -->
    <div class="panel-header">
      <h3>Order Details</h3>
      <div class="close-btn" (click)="openSidebar = false">
        <img src="../../assets/cancel.svg" height="20px" width="20px" alt="close" />
      </div>
    </div>

    <!-- BODY -->
    <div class="panel-content">

      <!-- STATUS DROPDOWN -->


      <!-- ROW 1 : CUSTOMER INFO -->
      <div class="info-row">
        <div class="info-item">
          <h6>Customer Name</h6>
          <span>{{ selectedOrder?.customer }} {{" - "}}{{ selectedOrder?.customerId }}</span>
        </div>
        <div class="info-item">
          <h6>Order ID</h6>
          <span>{{ selectedOrder?.orderId }}</span>
        </div>

        <div class="info-item">
          <h6>Mobile</h6>
          <span>{{ selectedOrder?.mobile }}</span>
        </div>

        <div class="info-item">
          <h6>Email</h6>
          <span>{{ selectedOrder?.email || 'N/A' }}</span>
        </div>
      </div>

      <!-- ROW 2 : PAYMENT INFO -->
      <div class="info-row">
        <div class="info-item">
          <h6>Paid Amount</h6>
          <span>{{ selectedOrder?.amountPaid || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <h6>Net Amount</h6>
          <span>{{ selectedOrder?.amount || 'N/A' }}</span>
        </div>
        <div class="info-item">
          <h6>Payment Mode</h6>
          <span class="badge cod">{{ selectedOrder?.paymentMode || 'N/A' }}</span>
        </div>


      </div>

      <!-- ROW 3 : ADDRESS -->
      <div class="info-row full-width">
        <div class="info-item2">
          <h6>Delivery Address</h6>
          <span>
            {{ selectedOrder?.deliveryAddress || 'N/A' }}
          </span>
        </div>

      </div>


      <!-- PRODUCTS TABLE -->
      <div class="table-section">
        <h4>Products</h4>

        <table class="product-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Product</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let p of selectedOrder?.products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.qty }}</td>
              <td>₹ {{ p.price }}</td>
              <td>₹ {{ p.qty * p.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- COMMENTS -->


    </div>

    <!-- FOOTER -->
    <div class="panel-footer">

     <div class="form-group">
  <label>Order Status</label>
  <select class="status-select" [(ngModel)]="selectedOrder.status">
    <option value="" disabled>Select status</option>
    <option *ngFor="let status of statusList" [value]="status">
      {{ status | titlecase }}
    </option>
  </select>
</div>

      <div class="form-group">
        <label>Comments</label>
        <textarea class="comment-box" placeholder="Add  comments..." [(ngModel)]="orderComment">
      </textarea>
      </div>
      <button class="update-btn" (click)="updateOrderStatus()">
        Update Order
      </button>
    </div>

  </div>
</div>