<script src="https://kit.fontawesome.com/32f93e1582.js" crossorigin="anonymous"></script>


<div class="main-content">
    <div class="main-content" style="display: flex; flex-direction: column;">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Customer Details </mat-panel-title>
                <mat-panel-description>
                    <div class="select">Bill No.</div> {{'INV0001'}}
                </mat-panel-description>
            </mat-expansion-panel-header>


            <!-- Customer Name Field -->
            <mat-form-field appearance="outline" style="margin-right: 10px;">
                <mat-label>Customer Name</mat-label>
                <i class="fa-solid fa-user" matPrefix style="margin:0px 8px; color: #666;"></i>
                <input matInput placeholder="Select Customer" [(ngModel)]="selectedCustomer"
                    [matAutocomplete]="customerAuto" />
                <mat-autocomplete #customerAuto="matAutocomplete">
                    <mat-option *ngFor="let customer of customers" [value]="customer.name">
                        {{ customer.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right: 10px;">
                <mat-label>Mobile Number</mat-label>

                <!-- Using matPrefix for proper Angular Material integration -->
                <i class="fa-solid fa-phone" matPrefix style="margin: 0px 8px; color: #666;"></i>

                <input matInput placeholder="Select Customer" [(ngModel)]="MobileNumber" [matAutocomplete]="auto" />

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let customer of customers" [value]="customer.name">
                        {{ customer.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </mat-expansion-panel>


        <div class="products" style="display: flex;flex-direction: column;">
            <div class="billing-section">
                <div class="head" style="display: flex;flex-direction: row;">
                    <div class="title">
                        <h5 class="section-title">PRODUCT</h5>
                    </div>

                    <!-- Search Product Field -->
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" style="width: 100%; margin-top: -10px;height: 10px;">
                            <i class="fa-solid fa-magnifying-glass" matPrefix style="margin:0px 8px; color: #666;"></i>
                            <mat-label>Search Product</mat-label>
                            <input matInput type="text" placeholder="Type to search" [(ngModel)]="scannedId"
                                (focus)="selectInput(scannedInput)" [matAutocomplete]="productAuto"
                                (keydown.enter)="onCodeResult()" (input)="filterProducts()" #scannedInput />
                            <mat-autocomplete #productAuto="matAutocomplete">
                                <mat-option *ngFor="let suggestion of filteredProducts" [value]="suggestion.name">
                                    {{ suggestion.name }} ({{ suggestion.id }})
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <!-- <div class="add-products" (click)="openAddPanel() "><i class="fa-regular fa-circle-left"></i>show
                </div> -->
                    <div class="add-products" style="display: flex; justify-content: space-between;  padding: 10px;"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false"  (click)="holdFunction()">

                        <!-- Left Side: Hold -->
                        <div class="hold" style="display: flex; align-items: center; cursor: pointer;"
                           >
                            Hold (F5)

                        </div>

                        <!-- Right Side: Dropdown -->
                        <!-- <div class="navbar-nav" style="right: 0px;">
                      <div class="nav-item dropdown"  style="min-width: 0px;">
                        <a class="nav-link dropdown-toggle" href="#">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" (click)="onHold()"><i class="fa-solid fa-plus"></i> Add On Hold</a></li>
                            <li><a class="dropdown-item" (click)="openAddPanel()"><i class="fa-solid fa-eye"></i> View Hold Items</a></li>
                           
                          </ul>
                      </div>
                    </div>
                   -->
                    </div>

                    <div class="add-products" printTitle="invoice" printSectionId="invoice-container" ngxPrint
                        (click)=" downloadPDF()">WhatsApp <em> </em><i class="fa-brands fa-square-whatsapp"
                            style="size: 15px;"></i>
                    </div>

                    <div class="add-products" printTitle="invoice" printSectionId="invoice-container" ngxPrint
                        (click)=" downloadPDF()">Print (F6)<em> </em><i class="fa-solid fa-print"></i>
                    </div>
                </div>



                <div id="cartItems" *ngIf="selectedProducts.length > 0" class="cart-items">


                    <div class="table-container" #scrollContainer style="overflow-y: scroll; max-height: 300px;">
                        <table class="elite-table table table-bordered table-hover">
                            <thead>
                                <tr class="header-row">
                                    <th class="header-cell" style="width: 10%;"><span class="header-text">No.</span>
                                    </th>
                                    <th class="header-cell" style="width: 40%;"><span class="header-text">Name</span>
                                    </th>
                                    <th class="header-cell" style="width: 20%;"><span class="header-text">Price</span>
                                    </th>
                                    <th class="header-cell" style="width: 20%;"><span
                                            class="header-text">Quantity</span></th>
                                    <th class="header-cell" style="width: 10%;"><span class="header-text">Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of selectedProducts; let i = index" class="data-row">
                                    <td class="data-cell"><span class="position-badge">{{ i + 1 }}</span></td>
                                    <td class="data-cell name-cell"><span class="name-text">{{ element.name }}</span>
                                    </td>
                                    <td class="data-cell">{{ element.SalePrice }}</td>
                                    <td class="data-cell">
                                        <div class="d-flex align-items-center">
                                            <input #quantity type="text" [(ngModel)]="element.quantity"
                                                (ngModelChange)="onQuantityChange(element)"
                                                (keydown.enter)="selectInput(scannedInput)"
                                                (focus)="selectInput(quantity)" class="form-control quantity-input"
                                                style="width: 80px;" />

                                            <span class="weight-unit ms-2">{{element.UnitDesc}}</span>
                                        </div>
                                    </td>
                                    <td class="data-cell">
                                        <div class="action-buttons">
                                            <button class="btn btn-sm btn-danger btn-delete"
                                                (click)="deleteProduct(element)">
                                                <i class="fas fa-trash me-1"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="Noproducts" *ngIf="selectedProducts.length === 0"
                    style="display: flex;justify-content: center;align-items: center;height: 100%;">
                    <div class="empty-state" id="emptyState">
                        <div class="empty-cart-icon"></div>
                        <h2>Your cart is empty</h2>
                        <p>Looks like you haven't added any products to your cart yet. Start shopping to see your items
                            appear here!</p>
                    </div>
                </div>

                <!-- <div class="discount">
                    <label>Discount Applicable</label>
                    <input type="number" value="0" placeholder="Enter Discount Amount" class="discount-input" style="    height: 50px;
    width: 80px;">
                    <mat-form-field style="    width: 60px;height: 65px;">
                        <mat-select [(ngModel)]="discountMetrics">
                        <mat-option value="1">%</mat-option>
                        <mat-option value="2">Rs</mat-option>
                    </mat-select>
                </mat-form-field>

                 </div>
                  <mat-form-field>
                    <mat-label>Payment Method</mat-label>
                    <mat-select>
                     
                        <mat-option  value=cash >{{'Cash'}}</mat-option>
                        <mat-option value=card>{{'Card'}}</mat-option>
                        <mat-option  value=upi>{{'UPI'}}</mat-option>
                    
                    </mat-select>
                  </mat-form-field> -->
            </div>
        </div>

    </div>
</div>
<!-- <div class="spinner" style="background-color: rgba(252, 251, 250, 0.63);z-index: 900;" *ngIf="loader">
  <mat-spinner diameter="50" color="primary"></mat-spinner>
  <p>Loading...</p>
  <p>Please wait while we process your request.</p>
</div> -->

<footer class="bg-body-tertiary text-center text-lg-start" id="footer" style="    position: absolute;width: 98%;">
    <!-- Copyright -->
    <div class="table-footer">
        <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">Number Of Products : <h2>{{selectedProducts.length}}</h2>
            </mat-chip>

        </mat-chip-set>


        <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">Amount : <h2 style=" color: #198a3bb7; font-weight: bold">{{
                    totalAmount | currency: 'INR' }}</h2> </mat-chip>

        </mat-chip-set>

        <div style="display: flex; margin: 10px;">
            <mat-form-field appearance="outline" style="height: 60px; width: 60;display: flex;    flex-direction: row;">
                <mat-label>Discount</mat-label>
                <input matInput type="number" placeholder="Enter Discount" (keydown.enter)="applyDiscount()"
                    [(ngModel)]="discountValue" style="width:70%" />
                <mat-select [(ngModel)]="discountType" style="width: 30%;" (selectionChange)="applyDiscount()">
                    <mat-option value="Rs">Rs</mat-option>
                    <mat-option value="%">%</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" style="height: 60px; width: 60;display: flex;    flex-direction: row;">
            <mat-label>Payment Type</mat-label>
            <mat-select [(ngModel)]="paymentMethod">
                <mat-option value="%">Cash</mat-option>
                <mat-option value="Rs">UPI</mat-option>
                <mat-option value="Rs">Unpaid</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">savings : <h2 style=" color: #007bff; font-weight: bold">{{
                    savedAmount | currency: 'INR' }}</h2> </mat-chip>

        </mat-chip-set>



    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2025-30 Copyright:
        <a class="text-body" href="#">Nexusbills</a>
    </div>
    <!-- Copyright -->
</footer>


<div id="invoice-container" style="display: none;">

    <div class="receipt-container"
        style="box-shadow: none; border: 2px dashed #333; margin: 0 auto; width: 100%; max-width: 300px; background: white; line-height: 1.4; font-family: 'Courier New', monospace; font-size: 12px;">
        <!-- Shop Header -->
        <div class="shop-header"
            style="text-align: center; border-bottom: 1px solid #333; padding-bottom: 10px; margin-bottom: 10px;">
            <div class="shop-name" style="font-size: 16px; font-weight: bold; margin-bottom: 5px;">A2J SUPERMARKET
            </div>
            <div class="shop-address" style="font-size: 10px; font-weight: bold; margin-bottom: 3px;">123 Main Street,
                Mumbai</div>
            <div class="shop-address" style="font-size: 10px; font-weight: bold; margin-bottom: 3px;">Ph: +91 22 1234
                5678</div>
            <div class="shop-address" style="font-size: 10px;font-weight: bold;  margin-bottom: 3px;">GSTIN:
                27ABCDE1234F1Z5</div>
        </div>

        <!-- Receipt Info -->
        <div class="receipt-info" style="margin-bottom: 10px; font-size: 10px;font-weight: bold; ">
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Bill No:</span>
                <span>INV-001234</span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Date:</span>
                <span>{{ currentDate | date:'dd/MM/yyyy' }}</span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Time:</span>
                <span>{{ currentDate | date:'HH:mm:ss' }}</span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Cashier:</span>
                <span>John Doe</span>
            </div>
        </div>

        <div class="separator" style="border-bottom: 1px dashed #333; margin: 8px 0;"></div>

        <!-- Items Section -->
        <div class="items-section" style="border-bottom: 1px solid #333; padding-bottom: 10px; margin-bottom: 10px;">
            <div *ngFor="let item of selectedProducts" class="item-row"
                style="display: flex; justify-content: space-between; margin-bottom: 3px; font-size: 11px; font-weight: bold;">

                <div class="item-name" style="flex: 1; margin-right: 10px;">{{ item.name }}</div>
                <div class="item-qty-price" style="white-space: nowrap;">{{ item.quantity }}x{{ item.price }}</div>
                <div class="item-total" style="width: 50px; text-align: right;">{{ item.quantity * item.price |
                    number:'1.2-2' }}</div>

            </div>
        </div>

        <!-- Totals Section -->
        <div class="totals-section" style="font-size: 11px;font-weight: bold; ">
            <div class="total-row"
                style="display: flex; justify-content: space-between; font-weight: bold; margin-bottom: 2px;">
                <span>Subtotal:</span>
                <span>₹ {{totalAmount}}</span>
            </div>
            <div class="total-row"
                style="display: flex; justify-content: space-between; font-weight: bold; margin-bottom: 2px;">
                <span>Discount (5%):</span>
                <span>{{discountAmount}}</span>
            </div>
            <!-- <div class="total-row" style="display: flex; justify-content: space-between;font-weight: bold;  margin-bottom: 2px;">
                <span>CGST (9%):</span>
                <span>94.91</span>
            </div>
            <div class="total-row" style="display: flex; justify-content: space-between; font-weight: bold; margin-bottom: 2px;">
                <span>SGST (9%):</span>
                <span>94.91</span>
            </div>
            <div class="total-row" style="display: flex; justify-content: space-between;font-weight: bold;  margin-bottom: 2px;">
                <span>Round Off:</span>
                <span>0.32</span>
            </div>
            <div class="total-row final-total"
                style="display: flex; justify-content: space-between; font-weight: bold; font-size: 14px; border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 5px 0; margin: 8px 0;">
                <span>TOTAL:</span>
                <span>₹1244.00</span>
            </div> -->
        </div>

        <!-- Payment Info -->
        <div class="payment-info" style="font-size: 10px; font-weight: bold; margin-bottom: 10px;">
            <div class="total-row" style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Cash Paid:</span>
                <span>₹10.00</span>
            </div>
            <div class="total-row" style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Change:</span>
                <span>₹6.00</span>
            </div>
        </div>

        <div class="separator" style="border-bottom: 1px dashed #333; margin: 8px 0;"></div>

        <!-- Barcode -->
        <div class="barcode"
            style="text-align: center; margin: 8px 0; font-size: 8px; font-weight: bold; letter-spacing: 1px;">
            ||||| |||| | ||| ||||
            <br>
            INV-001234
        </div>

        <!-- Thank You -->
        <div class="thank-you"
            style="text-align: center; font-size: 11px;font-weight: bold;  margin-top: 10px; border-top: 1px solid #333; padding-top: 10px;">
            <div>THANK YOU FOR SHOPPING!</div>
            <div>Visit Again Soon</div>
            <div style="margin-top: 5px; font-weight: bold; font-size: 9px;">Goods once sold cannot be returned</div>
        </div>
    </div>

</div>
<!-- <zxing-scanner
  (scanSuccess)="onCodeResult($event)"
  [autostart]="true"
></zxing-scanner> -->

<div class="products-panel" *ngIf="showSidePanel">
    <div class="products-header">
        <h2>Products</h2>
        <button class="close-button" (click)="closeProductsPanel()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="products-list">
        <table class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Customer</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hold of holdList; let i = index">
                    <td>{{ hold.invoice }}</td>
                    <td>{{ hold.customer }}</td>
                    <td>{{ hold.amount | currency: 'INR' }}</td>
                    <td>
                        <button (click)="resumeHold(i)">Resume</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- 
<div class="loader" *ngIf="loader"
    style="display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1000;"
>

    <div class="spinner">
        <div class="" style="text-align: center;">
          <div class="spin" style="justify-content: center;
          display: flex
      ;
      "><mat-spinner diameter="50" color="primary"></mat-spinner><br></div>  
          <div class="text" style="margin-top: 25px;"> <p>Loading...</p>
            <p>Please wait while we process your request.</p></div> 
        </div>
    </div>
</div> -->