<script src="https://kit.fontawesome.com/32f93e1582.js" crossorigin="anonymous"></script>


<div class="main-content">
    <div class="main-content" style="display: flex; flex-direction: column;">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> Customer Details </mat-panel-title>
                <mat-panel-description>
                    <div class="select">Bill No : </div> {{ invoiceId }}
                </mat-panel-description>
            </mat-expansion-panel-header>


            <!-- Customer Name Field -->
            <mat-form-field appearance="outline" style="margin-right: 10px;">
                <mat-label>Customer Name</mat-label>
                <i class="fa-solid fa-user" matPrefix style="margin:0px 8px; color: #666;"></i>
                <input matInput placeholder="Select Customer" [(ngModel)]="selectedCustomer" (ngModelChange)="onCustomerChange($event)"
                    [matAutocomplete]="customerAuto" />
                <mat-autocomplete #customerAuto="matAutocomplete">
                    <mat-option *ngFor="let customer of customers" [value]="customer.name">
                        {{ customer.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right: 10px;">
                <mat-label>Mobile Number</mat-label>

                <!-- Using matPrefix for proper Angular Material integration -->
                <i class="fa-solid fa-phone" matPrefix style="margin: 0px 8px; color: #666;"></i>

                <input matInput placeholder="Select Customer" [(ngModel)]="MobileNumber" [matAutocomplete]="auto" />

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let customer of customers" [value]="customer.name">
                        {{ customer.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </mat-expansion-panel>


        <div class="prductname" style="gap: 10px;display: contents;">
            <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput  type="text" [(ngModel)]="productsName">
  </mat-form-field>

  
   <mat-form-field appearance="outline">
    <mat-label>Product Price</mat-label>
    <input matInput  type="number" [(ngModel)]="price">
  </mat-form-field>

   <mat-form-field appearance="outline">
    <mat-label>Product Quantity</mat-label>
    <input matInput  type="number" [(ngModel)]="quantity">
  </mat-form-field>

  <button (click)="enterProduct()" style="height: 35px;border: 0px;border-radius: 7px;background-color: #3a86e9;color: aliceblue;">Add</button>
                

        </div>

        <div class="products" style="display: flex;flex-direction: column;">
            <div class="billing-section">
                <div class="head" style="display: flex;flex-direction: row;">
                    <div class="title">
                        <h5 class="section-title">PRODUCT</h5>
                    </div>

                    <!-- Search Product Field -->
                    <div class="col-md-3">
                        <mat-form-field appearance="outline" style="width: 100%; margin-top: -10px;height: 10px;">
                            <i class="fa-solid fa-magnifying-glass" matPrefix style="margin:0px 8px; color: #666;"></i>
                            <mat-label>Search Product</mat-label>
                            <input matInput type="text" placeholder="Type to search" [(ngModel)]="scannedId"
                                (focus)="selectInput(scannedInput)" [matAutocomplete]="productAuto"
                                (keydown.enter)="onCodeResult()" (input)="filterProducts()" #scannedInput />
                            <mat-autocomplete #productAuto="matAutocomplete">
                                <mat-option *ngFor="let suggestion of filteredProducts" [value]="suggestion.name">
                                    {{ suggestion.name }} ({{ suggestion.id }})
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                  
                    <div class="add-products" style="display: flex; justify-content: space-between;  padding: 10px;"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false"  (click)="holdFunction()">

                        <!-- Left Side: Hold -->
                        <div class="hold" style="display: flex; align-items: center; cursor: pointer;"
                           >
                            Hold (F5)

                        </div>
                    </div>

                    <div class="add-products" printTitle="invoice" printSectionId="invoice-container" ngxPrint
                        (click)="saveOrder() ">WhatsApp <em> </em><i class="fa-brands fa-square-whatsapp"
                            style="size: 15px;"></i>
                    </div>

                    <div class="add-products"  printTitle="invoice" printSectionId="invoice-container" ngxPrint
                        (click)=" downloadPDF()">Print (F6)<em> </em><i class="fa-solid fa-print"></i>
                    </div>
                </div>


                <div id="cartItems" *ngIf="selectedProducts.length > 0" class="cart-items">


                    <div class="table-container" #scrollContainer style="overflow-y: scroll; max-height: 300px;">
                        <table class="elite-table table table-bordered table-hover">
                            <thead>
                                <tr class="header-row">
                                    <th class="header-cell" style="width: 10%;"><span class="header-text">No.</span>
                                    </th>
                                    <!-- <th class="header-cell" style="width: 10%;"><span class="header-text">BarCode</span> -->
                                    <!-- </th> -->
                                    <th class="header-cell" style="width: 40%;"><span class="header-text">Name</span>
                                    </th>
                                    <th class="header-cell" style="width: 20%;"><span class="header-text">Price</span>
                                    </th>
                                    <th class="header-cell" style="width: 20%;"><span
                                            class="header-text">Quantity</span></th>
                                    <th class="header-cell" style="width: 10%;"><span class="header-text">Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of selectedProducts; let i = index" class="data-row">
                                    <td class="data-cell"><span class="position-badge">{{ i + 1 }}</span></td>
                                    <!-- <td class="data-cell name-cell"><span class="name-text">{{ element.id }}</span> -->
                                    <td class="data-cell name-cell"><span class="name-text">{{ element.name }}</span>
                                    </td>
                                    <td class="data-cell">{{ element.MRP }}</td>
                                    <td class="data-cell">
                                        <div class="d-flex align-items-center">
                                            <input #quantity type="text" [(ngModel)]="element.quantity"
                                                (ngModelChange)="onQuantityChange(element)"
                                                (keydown.enter)="selectInput(scannedInput)"
                                                (focus)="selectInput(quantity)" class="form-control quantity-input"
                                                style="width: 80px;" />

                                            <span class="weight-unit ms-2">{{element.UnitDesc}}</span>
                                        </div>
                                    </td>
                                    <td class="data-cell">
                                        <div class="action-buttons">
                                            <button class="btn btn-sm btn-danger btn-delete"
                                                (click)="deleteProduct(element)">
                                                <i class="fas fa-trash me-1"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="Noproducts" *ngIf="selectedProducts.length === 0"
                    style="display: flex;justify-content: center;align-items: center;height: 100%;">
                    <div class="empty-state" id="emptyState">
                        <div class="empty-cart-icon"></div>
                        <h2>Your cart is empty</h2>
                        <p>Looks like you haven't added any products to your cart yet. Start shopping to see your items
                            appear here!</p>
                    </div>
                </div>

                <!-- <div class="discount">
                    <label>Discount Applicable</label>
                    <input type="number" value="0" placeholder="Enter Discount Amount" class="discount-input" style="    height: 50px;
    width: 80px;">
                    <mat-form-field style="    width: 60px;height: 65px;">
                        <mat-select [(ngModel)]="discountMetrics">
                        <mat-option value="1">%</mat-option>
                        <mat-option value="2">Rs</mat-option>
                    </mat-select>
                </mat-form-field>

                 </div>
                  <mat-form-field>
                    <mat-label>Payment Method</mat-label>
                    <mat-select>
                     
                        <mat-option  value=cash >{{'Cash'}}</mat-option>
                        <mat-option value=card>{{'Card'}}</mat-option>
                        <mat-option  value=upi>{{'UPI'}}</mat-option>
                    
                    </mat-select>
                  </mat-form-field> -->
            </div>
        </div>

    </div>
</div>
<!-- <div class="spinner" style="background-color: rgba(252, 251, 250, 0.63);z-index: 900;" *ngIf="loader">
  <mat-spinner diameter="50" color="primary"></mat-spinner>
  <p>Loading...</p>
  <p>Please wait while we process your request.</p>
</div> -->

<footer class="bg-body-tertiary text-center text-lg-start" id="footer" style="    position: absolute;width: 98%;">
    <!-- Copyright -->
    <div class="table-footer">
        <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">Number Of Products : <h2>{{selectedProducts.length}}</h2>
            </mat-chip>

        </mat-chip-set>
        <!-- <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">Customer Points <h2> {{customerPoints}}</h2>
            </mat-chip>

        </mat-chip-set> -->

        <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">Amount : <h2 style=" color: #198a3bb7; font-weight: bold">{{
                    totalAmount | currency: 'INR' }}</h2> </mat-chip>

        </mat-chip-set>

        <div style="display: flex; margin: 10px;">
            <mat-form-field appearance="outline" style="height: 60px; width: 60;display: flex;    flex-direction: row;">
                <mat-label>Discount</mat-label>
                <input matInput type="number" placeholder="Enter Discount" (keydown.enter)="applyDiscount()"
                    [(ngModel)]="discountValue" style="width:70%" />
                <mat-select [(ngModel)]="discountType" style="width: 30%;" (selectionChange)="applyDiscount()">
                    <mat-option value="Rs">Rs</mat-option>
                    <mat-option value="%">%</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline" style="height: 60px; width: 60;display: flex;    flex-direction: row;">
            <mat-label>Payment Type</mat-label>
            <mat-select [(ngModel)]="paymentMethod">
                <mat-option value="%">Cash</mat-option>
                <mat-option value="Rs">UPI</mat-option>
                <mat-option value="Rs">Unpaid</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-chip-set aria-label="Fish selection" style="justify-content: space-between;">
            <mat-chip style="height: 70px; width: 220px;">savings : <h2 style=" color: #007bff; font-weight: bold">{{
                    savedAmount | currency: 'INR' }}</h2> </mat-chip>

        </mat-chip-set>



    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2025-30 Copyright:
        <a class="text-body" href="#">Nexusbills</a>
    </div>


    <div #confirmModal class="modal">
        <div class="modal-content">
          <h4>Do you want to refresh Billing</h4>
          <div class="modal-actions">
            <button class="btn btn-danger" (click)="confirmAction()">Yes</button>
            <button class="btn btn-secondary" (click)="closeModal()">No</button>
          </div>
        </div>
      </div>
    <!-- Copyright -->
</footer>


<!-- <div id="invoice-container" style="display: none;">

    <div class="receipt-container"
        style="box-shadow: none; border: 2px dashed #333; margin: 0 auto; width: 100%; max-width: 300px; background: white; line-height: 1.4; font-family: 'Courier New', monospace; font-size: 12px;">
        <!-- Shop Header -
        <div class="shop-header"
            style="text-align: center; border-bottom: 1px solid #333; padding-bottom: 10px; margin-bottom: 10px;">
            <div class="shop-name" style="font-size: 16px; font-weight: bold; margin-bottom: 5px;">A2J SUPERMARKET
            </div>
            <div class="shop-address" style="font-size: 10px; font-weight: bold; margin-bottom: 3px;">123 Main Street,
                Mumbai</div>
            <div class="shop-address" style="font-size: 10px; font-weight: bold; margin-bottom: 3px;">Ph: +91 22 1234
                5678</div>
            <div class="shop-address" style="font-size: 10px;font-weight: bold;  margin-bottom: 3px;">GSTIN:
                27ABCDE1234F1Z5</div>
        </div>

        <!-- Receipt Info -
        <div class="receipt-info" style="margin-bottom: 10px; font-size: 10px;font-weight: bold; ">
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Bill No:</span>
                <span>INV-001234</span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Date:</span>
                <span>{{ currentDate | date:'dd/MM/yyyy' }}</span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Time:</span>
                <span>{{ currentDate | date:'HH:mm:ss' }}</span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Cashier:</span>
                <span>John Doe</span>
            </div>
        </div>

        <div class="separator" style="border-bottom: 1px dashed #333; margin: 8px 0;"></div>

        <!-- Items Section --
        <div class="items-section" style="border-bottom: 1px solid #333; padding-bottom: 10px; margin-bottom: 10px;">
            <div *ngFor="let item of selectedProducts" class="item-row"
                style="display: flex; justify-content: space-between; margin-bottom: 3px; font-size: 11px; font-weight: bold;">

                <div class="item-name" style="flex: 1; margin-right: 10px;">{{ item.name }}</div>
                <div class="item-qty-price" style="white-space: nowrap;">{{ item.quantity }}x{{ item.price }}</div>
                <div class="item-total" style="width: 50px; text-align: right;">{{ item.quantity * item.price |
                    number:'1.2-2' }}</div>

            </div>
        </div>

        <!-- Totals Section --
        <div class="totals-section" style="font-size: 11px;font-weight: bold; ">
            <div class="total-row"
                style="display: flex; justify-content: space-between; font-weight: bold; margin-bottom: 2px;">
                <span>Subtotal:</span>
                <span>₹ {{totalAmount}}</span>
            </div>
            <div class="total-row"
                style="display: flex; justify-content: space-between; font-weight: bold; margin-bottom: 2px;">
                <span>Discount (5%):</span>
                <span>{{discountAmount}}</span>
            </div>
            <!-- <div class="total-row" style="display: flex; justify-content: space-between;font-weight: bold;  margin-bottom: 2px;">
                <span>CGST (9%):</span>
                <span>94.91</span>
            </div>
            <div class="total-row" style="display: flex; justify-content: space-between; font-weight: bold; margin-bottom: 2px;">
                <span>SGST (9%):</span>
                <span>94.91</span>
            </div>
            <div class="total-row" style="display: flex; justify-content: space-between;font-weight: bold;  margin-bottom: 2px;">
                <span>Round Off:</span>
                <span>0.32</span>
            </div>
            <div class="total-row final-total"
                style="display: flex; justify-content: space-between; font-weight: bold; font-size: 14px; border-top: 1px solid #333; border-bottom: 1px solid #333; padding: 5px 0; margin: 8px 0;">
                <span>TOTAL:</span>
                <span>₹1244.00</span>
            </div> --
        </div>

        <!-- Payment Info --
        <div class="payment-info" style="font-size: 10px; font-weight: bold; margin-bottom: 10px;">
            <div class="total-row" style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Cash Paid:</span>
                <span>₹10.00</span>
            </div>
            <div class="total-row" style="display: flex; justify-content: space-between; margin-bottom: 2px;">
                <span>Change:</span>
                <span>₹6.00</span>
            </div>
        </div>

        <div class="separator" style="border-bottom: 1px dashed #333; margin: 8px 0;"></div>

        <!-- Barcode --
        <div class="barcode"
            style="text-align: center; margin: 8px 0; font-size: 8px; font-weight: bold; letter-spacing: 1px;">
            ||||| |||| | ||| ||||
            <br>
            INV-001234
        </div>

        <!-- Thank You --
        <div class="thank-you"
            style="text-align: center; font-size: 11px;font-weight: bold;  margin-top: 10px; border-top: 1px solid #333; padding-top: 10px;">
            <div>THANK YOU FOR SHOPPING!</div>
            <div>Visit Again Soon</div>
            <div style="margin-top: 5px; font-weight: bold; font-size: 9px;">Goods once sold cannot be returned</div>
        </div>
    </div>

</div> -->

<!-- <zxing-scanner
  (scanSuccess)="onCodeResult($event)"
  [autostart]="true"
></zxing-scanner> -->

<div class="products-panel" *ngIf="showSidePanel">
    <div class="products-header">
        <h2>Products</h2>
        <button class="close-button" (click)="closeProductsPanel()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="products-list">
        <table class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Customer</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hold of holdList; let i = index">
                    <td>{{ hold.invoice }}</td>
                    <td>{{ hold.customer }}</td>
                    <td>{{ hold.amount | currency: 'INR' }}</td>
                    <td>
                        <button (click)="resumeHold(i)">Resume</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- 
<div class="loader" *ngIf="loader"
    style="display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1000;"
>

    <div class="spinner">
        <div class="" style="text-align: center;">
          <div class="spin" style="justify-content: center;
          display: flex
      ;
      "><mat-spinner diameter="50" color="primary"></mat-spinner><br></div>  
          <div class="text" style="margin-top: 25px;"> <p>Loading...</p>
            <p>Please wait while we process your request.</p></div> 
        </div>
    </div>
</div> -->



 <div id="invoice-container" style=" height: auto;width: auto;" >
                    <div
                        style="background-color: #FFFFFF; padding: 0 5mm; position: relative; height: auto;width: auto;">
                        <div *ngIf="false"
                            style="text-align: center; font-weight: 500; font-size: 12px; color: #667085; margin: 5px 0;">
                            Tax
                            Invoice</div>
                            <div 
                            style="text-align: center; font-weight: 500; font-size: 12px; color: #667085; margin: 5px 0;">
            
                            Estimate</div>
                        <div style="background-color: #60a6f7; padding: 5px;border:1px solid#667085; border-radius: 15px; margin-bottom: 2mm;">
                            <div style="display: flex; justify-content: start; margin-bottom: 5px;">
                                <!-- <div style="display: flex; width: 20%;">
                                    <div
                                        style="width: 30mm; height: 20mm; background-color: #FFFFFF; border-radius: 1mm; overflow: hidden;">
                                        <img [src]="'assets/images/invoiceLogo1.jpeg'" alt="Logo"
                                            style="width: 100%; height: 100%; ">
                                    </div>
                                </div> -->
                                <div
                                    style="display: flex; flex-direction: column; justify-content: center; margin-left: 0px; width: 60%; text-align: center;">
                                    <div
                                        style="font-weight: 600; font-size: 25px; color: #1A1C21 !important; margin-bottom: 0mm;">
                                        AYYANAR METALS</div>
                                    <div
                                        style="font-weight: 500; font-size: 10px; color: #667085; line-height: 1.4; padding: 0 10px;">
                                        <!-- <B>DEALERS IN: MOTOR PARTS, IRON, SPRING LEAF AND ALL VEHICLES </B><br>
                                        O.No 293/1, N.No 130, G.S.T. Road,
                                        Urapakkam, (Opp. State Bank of India)<br>
                                        Chengalpattu Dist- 603210,
                                        Tamil Nadu, India -->
                                        203, E Veli St,opp. Raj Mahal silks, Madurai, Tamil Nadu 625001
                                    </div>
                                </div>
                                <div style="width: 20%;">
                                    <div  style="font-weight: 500; font-size: 10px; color: #1A1C21 !important; line-height: 1.4; margin-top: 10px;">Phone No: <span style="color: #667085;font-weight: 400">+91 7947114984<br></span>
                                        </div>
                                    <div  *ngIf="true"  style="font-weight: 500; font-size: 10px; color: #1A1C21 !important; line-height: 1.4;margin-top: 35px;">GST: <span  style="color: #667085;font-weight: 400">33AXHPK8999E1ZY</span></div>
                                </div>
                            </div>

                        </div>

                        <div *ngIf="true" style="display: flex; justify-content: space-between; margin-bottom: 0px;">
                            <!-- <div style="padding-left: 5mm; width: 50%;">
                                <div style="font-weight: 700; font-size: 13px; color: #1A1C21 !important; margin-bottom: 2mm;">
                                    To:
                                    {{selectedCustomer}}</div>
                                <div style="font-weight: 700; font-size: 11px; color: #1A1C21 !important; line-height: 1.4;">
                                    Name not found</div>
                                    <div  *ngIf="true" style="font-weight: 700; font-size: 11px; color: #1A1C21 !important; line-height: 1.4;">GST: <span  style="color: #667085;font-weight: 400">{{selectedCustomerGst}}</span></div>
                                    <div  style="font-weight: 700; font-size: 11px; color: #1A1C21 !important; line-height: 1.4;">Phone No: <span  style="color: #667085;font-weight: 400">{{selectedCustomerPhoneno}}</span>
                                    </div>
                                    <div  style="font-weight: 700; font-size: 11px; color: #1A1C21 !important; line-height: 1.4;">Vehicle No: <span  style="color: #667085;font-weight: 400">{{ addproducts.length > 0 ?
                                            vehicleNumber :
                                            '-'}}</span></div>
                            </div> -->
                            <div style="padding-left: 5mm;padding-top: 6.7mm; width: 40%;">
                                <div style="font-weight: 800; font-size: 12px; color: #1A1C21 !important; line-height: 1.4;">Invoice No: <span  style="color: #667085;font-weight: 400">{{invoiceId}}</span></div>
                                <div style="font-weight: 700; font-size: 10px; color: #1A1C21 !important; line-height: 1.4;">Date & Time : <span  style="color: #667085;font-weight: 400">{{currentDate}}</span></div>
                                <!-- <div  style="font-weight: 700; font-size: 10px; color: #1A1C21 !important; line-height: 1.4;">Bill Type: <span  style="color: #667085;font-weight: 400">{{billType}}</span></div> -->
                                <div  style="font-weight: 700; font-size: 10px; color: #1A1C21 !important; line-height: 1.4;">Payment Type: <span  style="color: #667085;font-weight: 400">{{paymentMethod}}</span></div>
                            </div>
                        </div>
                        <!-- <div *ngIf="true" style="display: flex; justify-content: space-between; margin-bottom: 0px;">
        
                            <div style="padding-left: 5mm;padding-top: 8mm; width: 40%;">
                                <div style="font-weight: 700; font-size: 10px; color: #1A1C21 !important; line-height: 1.4;">Date & Time : <span  style="color: #667085;font-weight: 400">{{currentDate}}</span></div>
                                </div>
                        </div> -->
                        
                        <!-- <div
                            style="display: flex; justify-content: space-between; margin-top: 5mm; border-top: 1px solid #E0E2E7; padding-top: 3mm;">
                            <div style="flex: 1; padding: 0 2mm; border-right: 1px solid #E0E2E7; border-left: none;">
                                <div style="font-weight: 500; font-size: 9px; color: #667085; margin-bottom: 1mm;">
                                    Invoice No
                                </div>
                                <div style="font-weight: 600; font-size: 10px; color: #1A1C21 !important;">{{invoiceId}}</div>
                            </div>
                            <div style="flex: 1; padding: 0 2mm; border-right: 1px solid #E0E2E7;">
                                <div style="font-weight: 500; font-size: 9px; color: #667085; margin-bottom: 1mm;">Date
                                    & Time
                                </div>
                                <div style="font-weight: 600; font-size: 10px; color: #1A1C21 !important;">{{currentDate}}</div>
                            </div>
                            <div style="flex: 1; padding: 0 2mm; border-right: 1px solid #E0E2E7;">
                                <div style="font-weight: 500; font-size: 9px; color: #667085; margin-bottom: 1mm;">GST
                                    No</div>
                                <div style="font-weight: 600; font-size: 10px; color: #1A1C21 !important;">{{selectedCustomerGst}}
                                </div>
                            </div>
                            <div style="flex: 1; padding: 0 2mm; border-right: 1px solid #E0E2E7;">
                                <div style="font-weight: 500; font-size: 9px; color: #667085; margin-bottom: 1mm;">Bill
                                    Type
                                </div>
                                <div style="font-weight: 600; font-size: 10px; color: #1A1C21 !important;">{{billType}}</div>
                            </div>
                            <div style="flex: 1; padding: 0 2mm;">
                                <div style="font-weight: 500; font-size: 9px; color: #667085; margin-bottom: 1mm;">
                                    Payment Type
                                </div>
                                <div style="font-weight: 600; font-size: 10px; color: #1A1C21 !important;">{{PaymentMode}}</div>
                            </div>
                        </div> -->

                        <div
                            style="background-color: #F0F2F9; padding: 0 3mm; margin-top: 5px; min-height: auto; max-height: auto; overflow: auto;">
                            <table style="width: 100%; border-collapse: collapse; font-size: 10px;">
                                <thead>
                                    <tr>
                                        <th
                                            style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            S. No.</th>
                                        <th
                                            style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            Product & Description of goods</th>
                                        <!-- <th
                                            *ngIf="isgst" style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            HSN Code</th>
                                        <th
                                            *ngIf="isgst" style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            GST %</th> -->
                                        <th
                                            style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            Quantity</th>
                                        <th
                                            style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            Rate</th>
                                      
                                        <!-- <th
                                            style=" border: 1px solid #ddd; padding: 2mm; text-align: left; background-color: #f2f2f2; font-weight: 600;">
                                            Total (₹)</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of selectedProducts; let i = index">
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: left;">{{ i + 1 }}
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: left;font-size: 12px;">
                                            {{item.name}} {{
                                            item.Description }}</td>
                                        <!-- <td *ngIf="isgst" style="border: 1px solid #ddd; padding: 2mm; text-align: left;">{{
                                            item.HSN_Code }}
                                        </td>
                                        <td *ngIf="isgst" style="border: 1px solid #ddd; padding: 2mm; text-align: left;">{{ item.gst
                                            }}</td> -->
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: left;">{{
                                            item.quantity }}
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: right;">{{ item.MRP
                                            }}</td>
                                        <!-- <td style="border: 1px solid #ddd; padding: 2mm; text-align: right;">{{
                                            item.MRP }}
                                        </td> -->
                                    </tr>
                                </tbody>
                                <!-- <tfoot>
                                    <tr *ngIf="isgst">
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: left;"></td>
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: left;">
                                            <div style="font-weight: 600;" *ngIf="isgst">Product Price</div>
                                            <div *ngIf="isNinePercent">
                                                <div *ngIf="!isiGst" style="font-weight: 600;">SGST Price At 9%</div>
                                                <div *ngIf="!isiGst" style="font-weight: 600;">CGST Price At 9%</div>
                                                <div  *ngIf="isiGst" style="font-weight: 600;">IGST Price At 18%</div>
                                            </div>
                                            <div *ngIf="isFourteenPercent">
                                                <div *ngIf="!isiGst" style="font-weight: 600;">SGST Price At 14%</div>
                                                <div *ngIf="!isiGst"style="font-weight: 600;">CGST Price At 14%</div>
                                                <div *ngIf="isiGst"style="font-weight: 600;">IGST Price At 28%</div>
                                            </div>
                                            <div style="font-weight: 600;" *ngIf="isgst">Total Gst</div>
                                        </td>
                                        <td colspan="4" style="border: 1px solid #ddd; padding: 2mm; text-align: left;">
                                        </td>
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: right;">
                                            <div style="font-weight: 600;">{{productAmount}}</div>
                                            <div *ngIf="isNinePercent">
                                                <div *ngIf="!isiGst" style="font-weight: 600;">{{stateGst1}}</div>
                                                <div *ngIf="!isiGst" style="font-weight: 600;">{{CentralGst1}}</div>
                                                <div *ngIf="isiGst" style="font-weight: 600;">{{stateGst1+CentralGst1}}</div>

                                            </div>
                                            <div *ngIf="isFourteenPercent">
                                                <div *ngIf="!isiGst" style="font-weight: 600;">{{stateGst2}}</div>
                                                <div *ngIf="!isiGst" style="font-weight: 600;">{{CentralGst2}}</div>
                                                <div *ngIf="isiGst" style="font-weight: 600;">{{stateGst2+CentralGst2}}</div>

                                            </div>
                                            <div style="font-weight: 600;">{{totalGST}}</div>
                                        </td>
                                    </tr>
                                    <tr style="border-top: 2px solid #000; font-weight: 700;">
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: right;"></td>
                                        <td colspan="*ngIf='isgst' ? 3 : 0" style="border: 1px solid #ddd; padding: 2mm; text-align: left;">
                                            Total
                                        </td>
                                        <td  *ngIf="isgst" style="border: 1px solid #ddd; padding: 2mm; text-align: left;">
                                              
                                        </td>
                                        <td  *ngIf="isgst"> </td>
                                        <td  style="border: 1px solid #ddd; padding: 2mm; text-align: left;"> {{productCount}} Nos</td>
                                       <td   style="border: 1px solid #ddd; padding: 2mm; text-align: left;">{{productAmount}}</td>
                                        <td style="border: 1px solid #ddd; padding: 2mm; text-align: right;">
                                            {{TotalAmount |
                                            currency: 'INR'}} </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8"
                                            style="border: 1px solid #ddd; padding: 2mm; text-align: left; font-weight: 500; font-size: 11px;">
                                            Amount In Words: <span
                                                style="text-transform: capitalize;">{{TotalAmountInWords}}</span>
                                        </td>
                                    </tr>
                                </tfoot> -->
                            </table>
                        </div>
                    </div>

                    <!-- <div 
                    style="position: absolute; bottom: .2mm;left: 8mm; right: 8mm; background-color: #f8f9fa;display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; border-top: 1px solid #ddd;">
                    <div *ngIf="true" style="font-size: 10px; color: #667085; line-height: 1; width: 100%;">
                        <div style="font-weight: 800;">E. & O.E.</div>
                        <div style="font-weight: 700;">Bank Account Details:</div>
                        <div style="font-weight: 700;">Bank: INDIAN BANK: URAPAKKAM BRANCH</div>
                        <div style="font-weight: 700;">A/C.No: 6503488516</div>
                        <div style="font-weight: 700;">IFSC: IDIB000U036</div>
                    </div>
                    <div style="text-align: center; font-size: 10px; color: #667085; width: 100%;">Thank You, Visit Again</div>
                    <div *ngIf="true" style="text-align: right; font-size: 10px; color: #667085; width: 100%;">
                        <div style="font-weight: 700;">For AL M.S TRADERS</div>
                        <div style="height: 5.5mm; margin: 3mm 0;"></div>
                        <div style="font-weight: 700;">Authorised Signatory</div>
                    </div>
                </div> -->
                </div>
