<!-- LOADER -->
<div class="loading-container" *ngIf="isLoader">
  <div class="spinner"></div>
  <div class="loading-text">
    Loading Products
    <span class="dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </span>
  </div>
</div>

<!-- PRODUCTS TABLE -->
<div *ngIf="!isLoader">

  <div class="filters">
    <div class="search">
      <input type="text" placeholder="🔍 Search by name or EAN code" [(ngModel)]="searchTerm"
        (input)="applyFilter(searchTerm)" />
    </div>

    <div class="filter-options">
      <select [(ngModel)]="searchTerm" (change)="filterProducts()">
        <option value="">All Categories</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>

      <select [(ngModel)]="priceRange" (change)="filterProducts()">
        <option value="">All Prices</option>
        <option value="0-100">₹0 - ₹100</option>
        <option value="101-500">₹101 - ₹500</option>
        <option value="501-1000">₹501 - ₹1000</option>
        <option value="1001-5000">₹1001 - ₹5000</option>
        <option value="5001+">₹5001+</option>
      </select>

      <select [(ngModel)]="stockFilter" (change)="filterProducts()">
        <option value="">All Stock</option>
        <option value="inStock">In Stock</option>
        <option value="outOfStock">Out of Stock</option>
      </select>

      <select [(ngModel)]="sortBy" (change)="filterProducts()">
        <option value="name">Sort by Name</option>
        <option value="priceAsc">Price ↑</option>
        <option value="priceDesc">Price ↓</option>
      </select>
    </div>


    <!-- Hidden File Input -->
    <input type="file" #fileInput accept="image/*" hidden (change)="onFileSelected($event)" />

    <!-- Upload Box -->
    <div class="upload-box" (click)="fileInput.click()" (dragover)="onDragOver($event)" (drop)="onDrop($event)">

      <!-- Image Preview -->
      <img *ngIf="previewUrl" [src]="previewUrl" class="image-preview" alt="Preview" />

      <!-- Upload Text -->
      <ng-container *ngIf="!previewUrl">
        <mat-icon class="upload-icon">cloud_upload</mat-icon>
        <p class="upload-text">
          <span class="highlight">Click to upload</span> or drag and drop
        </p>
        <p class="upload-subtext">
          SVG, PNG, JPG  (MAX. 800×400px)
        </p>
      </ng-container>

    </div>

    <!-- Upload Button -->
   
    <div class="search">
      <input type="text" placeholder="Enter Name of the image" [(ngModel)]="uploadName" (input)="filterProducts()" />
    </div>
     <button mat-raised-button color="primary" (click)="uploadImage()" [disabled]="!selectedFile">
      Upload Image
    </button>
  </div>
</div>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="elite-table" *ngIf="pagedProducts?.length">
    <!-- SELECT CHECKBOX -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>

      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- EAN Code -->
    <ng-container matColumnDef="EANCode">
      <th mat-header-cell *matHeaderCellDef>EAN Code</th>
      <td mat-cell *matCellDef="let element">
        {{ element.EANCode }}
      </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <!-- Category -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">
        {{ element.category }}
      </td>
    </ng-container>

    <!-- Sell Type -->
    <ng-container matColumnDef="SellType">
      <th mat-header-cell *matHeaderCellDef>Sell Type</th>
      <td mat-cell *matCellDef="let element">
        {{ element.SellType }}
      </td>
    </ng-container>

    <!-- Quantity -->
    <ng-container matColumnDef="QuantityOnHand">
      <th mat-header-cell *matHeaderCellDef>Stock</th>
      <td mat-cell *matCellDef="let element">
        {{ element.QuantityOnHand }}
      </td>
    </ng-container>

    <!-- Price -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        ₹{{ element.price }}
      </td>
    </ng-container>

    <!-- Sale Price -->
    <ng-container matColumnDef="SalePrice">
      <th mat-header-cell *matHeaderCellDef>Sale Price</th>
      <td mat-cell *matCellDef="let element">
        ₹{{ element.SalePrice }}
      </td>
    </ng-container>

    <!-- ACTION -->
    <ng-container matColumnDef="action" sticky>
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openEditPanel(element)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteProduct(element)">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteProduct(element)">
          <mat-icon>sync</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteProduct(element)">
          <mat-icon>sync_disabled</mat-icon>
        </button>

        <button mat-icon-button color="warn" *ngIf="element?.isImageUploaded" (click)="deleteProduct(element)">
          <mat-icon>Image Status</mat-icon> </button>

      </td>
    </ng-container>

    <!-- ROWS -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[50, 100, 1000]"
  showFirstLastButtons>
</mat-paginator>

</div>



<!-- EMPTY STATE -->
<div class="empty-state" *ngIf="pagedProducts.length === 0">
  No products found
</div>

<!-- PAGINATION -->
<!-- <div class="pagination" *ngIf="totalPages > 1">
  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
    Prev
  </button>

  <span>Page {{ currentPage }} of {{ totalPages }}</span>

  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Next
  </button>
</div> -->

<!-- SIDE PANEL OVERLAY -->
<div class="side-panel-overlay" [class.active]="showSidePanel" (click)="closeSidePanel()"></div>

<!-- SIDE PANEL -->
<div class="side-panel" [class.active]="showSidePanel">
  <div class="side-panel-header">
    <h3>{{ editingProduct ? 'Edit Product' : 'Add Product' }}</h3>
    <button class="close-btn" (click)="closeSidePanel()">×</button>
  </div>

  <div class="side-panel-content">
    <form>

      <div class="form-group">
        <label>Product ID</label>
        <input type="text" [(ngModel)]="productForm.id" name="id" required />
      </div>

      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="productForm.name" name="name" required />
      </div>

      <div class="form-group">
        <label>Category</label>
        <select [(ngModel)]="productForm.Category" name="Category">
          <option *ngFor="let c of categories" [value]="c">
            {{ c }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>MRP</label>
        <input type="number" [(ngModel)]="productForm.MRP" name="MRP" />
      </div>

      <div class="form-group">
        <label>Sale Price</label>
        <input type="number" [(ngModel)]="productForm.SalePrice" name="SalePrice" />
      </div>

      <div class="form-group">
        <label>EAN Code</label>
        <input type="text" [(ngModel)]="productForm.EANCode" name="EANCode" />
      </div>

      <div class="form-group">
        <label>Units In Hand</label>
        <input type="number" [(ngModel)]="productForm.quantity" name="quantity" />
      </div>

      <div class="form-actions">
        <button type="button" class="save-btn" (click)="openModal()">
          {{ editingProduct ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="cancel-btn" (click)="closeSidePanel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- CONFIRM MODAL -->
<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <h3>Confirm Save</h3>
    <p>Are you sure?</p>
    <div class="modal-actions">
      <button (click)="confirmSave()">Yes</button>
      <button (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>